
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matcha</title>
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<!--Popup Javascript-->
    <script type="text/javascript">
     
          function toggle_visibility(id) {
             var e = document.getElementById(id);
             if(e.style.display == 'block')
                e.style.display = 'none';
             else
                e.style.display = 'block';
          }
     
      </script>
</head>
<body style ="background: url(../images/bg.png)">
<header style="background: black;">
    <section class="section" style="background: black;">
        <div class="container">
            <a href="/">
                <h1 class="title" style="font-weight:200;color:white; text-align: center;">Matcha</h1>
                <p class="subtitle" style="color:#fff; text-align: center;">Find love here!</p>
            </a>
        </div><a href="/"><button id="button" style="background-color:#828afc;color:#fff;margin:1.5em">Sign Out</button><a></a></a>
        <a href="/home"><button id="button" style="background-color:#828afc;color:#fff;margin-left:1.5em">Go Back</button><a></a>

      </section>
    <hr style="color:#fff;">
 
</header>

<div  class="wrapper" style="background: url(../images/bg.png)">
    <div class="profile-img">
        <figure><img class="is-rounded" src="../images/profile_image_holder.png"></figure>
    </div>
    <div class="field"></div>
    
      <label class="label" style="color:white; ;">Name</label>
        <div class="control">
          <label class="input" type="text" name="name"><%= name%></label></div>
   
    <div class="field">
        <label class="label" style="color:white; ;">Surname</label>
        <div class="control">
          <label class="input" type="text" name="surname"><%= surname%></label></div>
   
    <div class="field">
      <label class="label" style="color:white;">Username</label>
        <div class="control has-icons-left has-icons-right">
          <label class="input is-success" type="text"name="username"><%= username%></label>
          <span class="icon is-small is-left"><i class="fas fa-user"></i>
          </span><span class="icon is-small is-right"><i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">This username is available</p>
    </div>

          <!-- <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
          <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p
            class="help is-danger">This email is invalid</p>
    </div> -->
    <div class="field"><label class="label" style="color:white;">Age</label>
        <div class="control">
          <label class="input" type="text" ><%= age%></label></div>
    </div>
    <div class="field"><label class="label" style="color:white;">Gender</label>
        
           
              <label style="color:#fff"><%= gender%></label>
          </div>
        </div>
    
    <div class="field"><label class="label" style="color:white;">Sexual preference</label>
        
            
              <label style="color:#fff"><%= sp%></label>
         
       
    </div>
    <div class="field"><label class="label" style="color:white;" type="text">Bio</label>
        <div class="control"><textarea class="textarea"><%= bio%></textarea></div>
    </div>
    </div>
</div>
</form>
</body>
<footer class="footer" style="background: url(../images/menu.png);">
    <div class="content has-text-centered">
        <p style="color:white;"><strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a></p>
    </div>
</footer>

